﻿.banner {
    height: 200px;
    width: 500px;
    display: grid;
    background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(245,245,245,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(245,245,245,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(245,245,245,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}

.left-banner > img {
    height: 200px;
    grid-row: 1 / 4;
    grid-column: 1;
}
.left-banner > h1 {
    grid-row: 1;
    padding: 0;
    margin: 10px 10px 0 0;
    text-align: right;
    color: #333333;
    grid-column: 2;
    font-family: 'Clarkson Script';
    background-color: transparent;
    font-size: 38px;
    font-weight: lighter
}
.left-banner > h2 {
    grid-row: 2;
    grid-column: 2;
    margin: 0 10px 100px 0;
    font-family: 'Calibri Light';
    color: #333333;
    font-size: 19px;
    text-align: right;
}

.left-banner > a {
    grid-row: 3;
    grid-column: 2;
    display: block;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
    background-color: #e61887;
    border-radius: 5px;
    color: white;
    height: 100%;
    bottom: 15px;
    left: 15px;
    position: relative;
    width: 150px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}

.right-banner > img {
    height: 200px;
    grid-row: 1 / 4;
    grid-column: 2;
}

.right-banner > h1 {
    grid-row: 1;
    padding: 0;
    margin: 10px 10px 0 0;
    text-align: left;
    color: #333333;
    grid-column: 1;
    font-family: 'Clarkson Script';
    background-color: transparent;
    font-size: 38px;
    font-weight: lighter
}

.right-banner > h2 {
    grid-row: 2;
    grid-column: 1;
    margin: 0 10px 100px 0;
    font-family: 'Calibri Light';
    color: #333333;
    font-size: 19px;
    text-align: left;
}

.right-banner > a {
    grid-row: 3;
    grid-column: 1;
    display: block;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
    background-color: #e61887;
    border-radius: 5px;
    color: white;
    height: 100%;
    bottom: 15px;
    left: 15px;
    position: relative;
    width: 150px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}