﻿#positionList {
 /*text-align:center;*/
    position:relative;
    display:inline-block;
    width:100%;
}

.positionListPos {
    height: 240px;
    min-width:350px;
    line-height: 240px;
    display: block;
    float:left;
    margin:5px 5px 10px 10px;
    border:dashed 1px white;
}

.positionListPos a {
    display: block;
    height: 100%;
    width: 100%;
}


.positionListPos:hover {
    /*background-color: #888888;*/
    background-image: url('../Resources/Images/others/b3.jpg');
    border: dashed 1px grey;
    box-shadow: 0px 0px 5px #888888;
}

.positionListPos a * {
   
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.positionListPos div {
    position: relative;
    display: block;
    width:100%;
    /*height:100%;*/
    /*border: solid;*/

}

.positionListImage {
    
    height:80%;
}

.positionListName {
    text-align: center;
    /*position:relative;
    bottom:0px;*/
    width: 15%;
}


.positionListImage img {
    position: relative;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    /*height:145px;*/
}
/*.positionListImage img:hover {
    z-index: -10;
    position: absolute;
    width: 150%;
    height: 150%;
}*/
