﻿#content {
    position:relative;
    min-height:400px;
    width: 98%;
    padding-left: 10px;
    padding-right: 10px;
    /*font-family: 'Archivo Narrow', sans-serif;*/
    font-size:14px;
    vertical-align:top;
}

#content > h1 {
    display: block;
    font-size: 1.7em;
    background-color: #888888;
    color: white;
    margin:0;
}
      
#content  > h2{
    font-size:1.6em;
    text-align:center;
}
#content > h3 {
    font-size: 1.4em;
    text-align: center;
}
#content > h4 {
    font-size: 1.3em;
    text-align: center;
}
#content > h5 {
    font-size: 1.2em;
    text-align: center;
}

#content img {
    /*border: 1px solid black;
    box-shadow: 0px 0px 5px #888888;*/
}
.index_p {
    font-size: 1.4em;
    line-height: 1.5em;
}

#categoryList {
    display:inline-block;
    left: 10%;
    position: relative;
    width:80%    
}

#categoryPos {
    display: block;
    float: left;
    background-color: #2e2d2c;
    
    font-size: 1.5em;
    width: 180px;
    height: 150px;
    margin: 10px;
    text-align: center;
}
#categoryPos:hover {
    background-color: #48431f;
}

#categoryPos a{
    display:block;
    width:100%;
    height:100%;
}

#categoryPos p {
    position: relative;
    margin: unset;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: white;
}

