﻿        /*FOOTER*/
        #footer {
           
            border-top: 2px solid #002a4e;
            width: 100%;  

            margin: 0px;
            padding: 0;
            position:relative;
            bottom:0;                     
        }
        #footer > table {
            width: 100%;
            padding: 10px;
            text-align: center;
        }

        #footer  p {
            font-size:1em;
        }
        /*ENDFOOTER*/