﻿#header {
            display: block;
            position: relative;
            width: 95%;
            /*background-color: aqua;*/
            height: 320px;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
        }

        #baner {
            position: absolute;
            width: 100%;
            height: 150px;
            bottom: 10%;           
            background-color: green;
            background-image:url(../Resources/images/others/baner.jpeg);           
            border-radius:7px;
        }
        #baner > #head {
            display: block;
            position: absolute;
            width: 100%;
            bottom: 0;
            margin: 0;
            /*font-family: 'Garamond', sans-serif;*/
            background-image: url(../Resources/images/others/black35opacity.png);
            color: white;
            padding-top: 5px;
            padding-bottom: 5px;
            text-align: center;
            border-bottom-left-radius:7px;
            border-bottom-right-radius:7px;
            font-size:20px;
        }
        #baner > #numer {
            position: absolute;
            margin: 0;
            /*font-family: 'Garamond', sans-serif;*/
            color: black;
            padding-bottom: 5px;
            text-align: left;
            top: 0px;
            left: 0px;
            transform: translateY(-100%);
            -webkit-transform: translateY(-100%);
            font-size:1em;
            z-index:15;
        }
        #baner > #email {
            position: relative;
            margin: 0;
            /*font-family: 'Garamond', sans-serif;*/
            color: black;
            padding-bottom: 5px;
            text-align: right;
            top: 0px;
            right: 0;
            transform: translateY(-100%);
            -webkit-transform: translateY(-100%); 
            font-size: 1em;
        }


        #logo {
            position: absolute;
            width: 420px;
            height: 170px;
            top: 2%;
            left: 50%;
            background-color: white;
            background-size:cover;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            border-radius: 7px;
            align-content:center;
        }
        #logo > a > img {
            position: relative;
            height: 80%;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            top: 10%;
        }
        /*ENDHEADER*/