﻿.stars {
    border: none !important;
    box-shadow: none !important;
    max-height: 35px;
    max-width: 75px;
}

.catalogMain{
    display:inline-block;
    width:80%;
}

.catalogPos {
    display: block;
    float: left;
    width: 180px;
    height: 230px;
    margin: 5px;
    border: dashed 1px white;
}

.catalogPos:hover {
    /*background-color: #888888;*/
    background-image: url('../Resources/Images/others/b3.jpg');
    border: dashed 1px grey;
    box-shadow: 0px 0px 5px #888888;
}


.catalogPos a {
    display: block;
    width: 100%;
    height: 100%;
    
}

.catalogPos img {
    position:relative;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.catalogPos h3{
    margin-bottom:0px;
}

#catalogDetailsMain{
    display:inline-block;
}

.catalogDetailsPos {
    display: block;
    width: 240px;
    height: 300px;
    border: dashed 1px white;
    float: left;
    margin: 5px 5px 30px 5px;
    cursor:pointer;
    /*border:dashed 1px;*/
    /*background-color:aquamarine;*/
}

.catalogDetailsPos:hover {
    /*background-color: #888888;*/
    background-image: url('../Resources/Images/others/b3.jpg');
    border: dashed 1px grey;
    box-shadow: 0px 0px 5px #888888;
}

.catalogDetailsPos img {
    top: 0px;
    display: block;
    max-width: 95%;
    /*max-height: 80%;*/
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.catalogDetailsPos p {
    display: block;
    width: 100%;
    text-align: center;
    /*background-color:azure;*/
    font-size: 20px;
    bottom: 0px;
    
    /*z-index:400;*/
}


