﻿@font-face {
    font-family: 'Clarkson Script';
    src: url(../Resources/Fonts/ClarksonScript.otf);
}
@font-face {
    font-family: 'Calibri Light';
    src: url(../Resources/Fonts/Calibril.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-image: url(http://janiakmeble.pl/img/meble-Ibero1600.jpg);
    background-attachment: fixed;
    /*font-family: 'Archivo Narrow', sans-serif;*/
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    /*min-width:100%;*/
}
a {
    color: #111111;
    text-decoration: none;
}

::selection {
    background: #e5097f;
    color: #002a4e;
}
::-moz-selection {
    background: #e5097f;
    color: #002a4e;
}
        
#mainBlockTable {
    background-color: white;
    /*left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    position:absolute;*/           
    min-width: 700px;
    max-width: 1200px;
    width:65%;
    height: 100%;
    vertical-align: top;
    border-spacing: 0px;
    box-shadow: 0px 0px 5px #888888;
}
        
        
#mainBlockTable > tbody{
    width:100%;
    height:100%;
    border:0;
}

/*MENU*/
       
#contentTd {
    vertical-align: top;
    position:relative;
    padding:0;            
    min-width: 800px;
}
.ImageButton{
    border:0 !important;
    box-shadow:none !important;
} 


.ImageButton:hover {
    -webkit-filter: sepia(100%);
    -moz-filter: sepia(100%);
    -o-filter: sepia(100%);
    -ms-filter: sepia(100%);
    filter: sepia(100%);
}

 
