﻿    #leftTinyBarTd {
        width: 3px;
        padding-right: 5px;
        height: 100%;
        background-color: #333;
        border-right: 5px solid white;
     }
    #leftBarTd {
        min-width: 40px; 
        height: 100%;
        width: 40px;
        background-color: #333;
        padding:0px;
    }

#menu {
    width: 100%;
    font-family: Montserrat;
}

    #menu > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        /*padding-left: 15%;
        padding-right:15%;*/
        background: #333;
        overflow: hidden;
        text-align: center;
    }

        #menu > ul li {
            float: left;
            display: inline-block;
        }

        #menu > ul li a {
            display: block;
            color: white;
            text-align: center;
            padding: 8px 30px;
            text-decoration: none;
        }

        #menu > ul li a:hover {
            background-color: #e61887;
        }
   