﻿#showPhotoBackround {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 999;
    /*background-color: aquamarine;*/
    background-image: url(../Resources/Images/others/black35opacity.png);
}

#showPhoto {
    position: fixed;
    max-width: 80%;
    height: 60%;
    top: 20%;
    left: 10%;
    border: solid 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    cursor:zoom-out;
    /*visibility:hidden;*/
}

#showPhoto > img {
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    border: none;
    box-shadow: none;
    cursor: pointer;
    
}
