﻿/*//Product*/

#ContentTableProduct {
    width: 100%;
    position: relative;
    border-spacing:15px;
}

#ContentTableProduct #td1{
    width: 50%;

}

#ContentTableProduct #td2 {
    width: 50%;
}


#dodatkiProduct div {
    float:left;
    width:33%; 
    min-height:580px;
}

#dodatkiProduct div p {
    margin:5px;
}

#dodatkiProduct img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 90%;
}

#ContentTableProduct tr td {
    vertical-align: top;
}

#zdjecieGlowne > img {
    /*max-width:400px;*/
    width: 100%;
    cursor: zoom-in;
}

#zdjeciaPozostale {
    text-align: justify;
}

#zdjeciaPozostale > img {
    max-height: 75px;
    cursor:pointer;
    /*max-width:110px;*/
}

#zdjeciaPozostale > img:hover {
    -webkit-filter: sepia(100%);
    -moz-filter: sepia(100%);
    -o-filter: sepia(100%);
    -ms-filter: sepia(100%);
    filter: sepia(100%);
}

#zdjecieStrzalki{
    width:100%;
    height:60px;
    align-content:center;
    display:block;
}

#zdjecieStrzalki > img {
    width: 120px;
    height: 50px;
    border: 0;
    box-shadow: none;
    cursor: pointer;
}

#zdjecieStrzalki > img:hover {
    -webkit-filter: sepia(100%);
    -moz-filter: sepia(100%);
    -o-filter: sepia(100%);
    -ms-filter: sepia(100%);
    filter: sepia(100%);
}   

#galery_arrow_left{
    float:left;
}
#galery_arrow_right {
    float: right;
}

#stronyNaroznika img {
    border: 0px;
    box-shadow: none;
    width: 40%;
    position:relative;
    left:9%;
    /*transform: translateX(-50%);
    -webkit-transform: translateX(-50%);*/
}

#wymiaryProduct img {
    border: 0px;
    box-shadow: none;
    position: relative;
    left: 50%;
    top:10px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}