﻿@model IEnumerable<JaniakMeble.DAL.Meble>

@{
    ViewBag.Route = "Oferta -> Kategorie -> " + ViewBag.Title;
}

<div id="positionList">
@foreach (var mebel in Model)
{
    <div class="positionListPos">
        <a href="~/Offer/Product/@mebel.Nazwa">
            <div class="positionListImage">
                <img src="~/@mebel.ZdjeciaMebli.OrderBy(n=> n.Numer).First().Link" />
            </div>
            <div class="positionListName">
                <h3>@mebel.Nazwa</h3>

            </div>
            @*<div class="positionListDescript">
                @mebel.OpisKrotki
            </div>*@
           
        </a>
    </div>
}


