﻿@model IEnumerable<JaniakMeble.DAL.Kategorie>

@{
    ViewBag.Title = "Nasze meble";
}

@{
    var lista = Model.ToList();
}



<div id="categoryList">
    @foreach (var M in Model)
    {
        <div id="categoryPos">
            <a href="Offer/Category/@M.Nazwa.ToString()" title="@M.Nazwa.ToString()">
                <p>@M.Nazwa.ToString()</p>
            </a>
        </div>
    }
</div>
