﻿@model JaniakMeble.DAL.Meble



@{
    @*ViewBag.Route = "Oferta -> Kategorie -> " + Model.Kategorie != null ? Model.Kategorie.Nazwa : "Kategoria" + " -> " + ViewBag.Title;*@

ViewBag.Title = Model.Nazwa != null ? Model.Nazwa : "Nazwa";
}


<table id="ContentTableProduct">
    <tr>
@*-------------------------------------------------------------------------*@
        <td id="td1">
            <div id="zdjecieGlowne">
                <img src="~/@Model.ZdjeciaMebli.OrderBy(n => n.Numer).First().Link" />
            </div>
            <div id="zdjecieStrzalki">
                <img src="~/Resources/Images/others/arrow-left.png" alt="Poprzednie zdjęcie" id="galery_arrow_left"/>
                <img src="~/Resources/Images/others/arrow-right.png" alt="Następne zdjęcie" id="galery_arrow_right" />
            </div>
            <div id="zdjeciaPozostale">
                @if (Model.ZdjeciaMebli.Count > 0)
                {
                    foreach (var A in Model.ZdjeciaMebli.OrderBy(n => n.Numer).ToList().Take(8))
                    {
                        <img src="~/@A.Link" />
                    }                    
                }
            </div>  
            @if(Model.ZdjeciaMebli.Count > 8)
            {
                <a href="@Url.Action("ProductGalery","Offer", new { id = Model.Nazwa})"><img src="~/Resources/Images/others/more_photos.png" style="width:100%; border:none; box-shadow:none;" /></a>
            }
        </td>

        <td id="td2">
@*-------------------------------------------------------------------------*@
            <div id="opisProduct">
                <h1>Opis</h1>
                @if (Model.Opis != null)
                {
                    <p>
                        @(new HtmlString(@Model.Opis.ToString()))
                   </p>
                }
                else
                {
                   <p>b/d</p>
                }

               
            </div>
@*-------------------------------------------------------------------------*@
            <div id="wymiaryProduct">
                <h1>Wymiary</h1>
                @if (Model.Kategorie.NazwaEASY.ToLower() == "narozniki")
                {
                    <img src="~/Resources/Images/others/wymiaryNaroznik.jpg"/>
                }else if (Model.Kategorie.NazwaEASY.ToLower() == "kanapy" || Model.Kategorie.NazwaEASY.ToLower() == "wersalki")
                {
                     <img src="~/Resources/Images/others/wymiaryKanapa.jpg"/>
                }
                @if (Model.Wymiary != null)
                {
                    <p>
                        @(new HtmlString(@Model.Wymiary))
                    </p>
                }
                else
                {
                    <p>b/d</p>
                }
                
            </div>
@*-------------------------------------------------------------------------*@
            @if (Model.Kategorie.NazwaEASY.ToLower() == "narozniki")
            {
            <div id="stronyProduct">
                <h1>Strony</h1>
                <div id="stronyNaroznika">
                    <img src="~/Resources/Images/others/strona_lewa.jpg" />
                    <img src="~/Resources/Images/others/strona_prawa.jpg" />
                </div>
               <p>Przy zamówieniu prosimy podać na jaką stronę ma być narożnik</p>
            </div>            
            }
@*-------------------------------------------------------------------------*@
            <div id="tkaninyProduct">
                <h1>Wybór tkaniny</h1>
                <p>Nasza firma daje możliwość samodzielnego wyboru tkaniny. U nas to Klient wybiera spośród dziesiątek katalogów tkanin w jakim kolorze ma być jego mebel. Katalogi tkanin można znaleźć <a href="@Url.Action("Index", "Catalog")">tutaj</a> </p>
            </div>
</td >
    </tr >
    <tr >
      <td colspan="2">
          @*Sprawdzenie czy sa jakies cechy*@
          @if (Model.Dodatki.Count > 0)
            {
              <div id="dodatkiProduct">
                  <h1>Cechy</h1>

                  @foreach (var A in Model.Dodatki)
                  {
                      <div>
                          <h4>@A.Nazwa</h4>
                          <br />
                          <img src="~/@A.Zdjecie" />
                          <br />
                          <p>@A.Opis</p>

                      </div>
                  }
              </div>
          }
      </td>
    </tr>
   
</table>
<div id="showPhotoBackround">
    <div id="showPhoto">
        
    </div>
</div>
<script src="~/Scripts/galeria1.js" type="text/javascript"></script>