﻿@model JaniakMeble.DAL.Meble

@{
    ViewBag.Title = "Galeria produktu";
}


<div id="catalogDetailsMain">
    <p>
        @if (@Model.Opis != null)
        {
        <p>@Model.Nazwa - galeria produktu</p>
        }

        </p>
        @foreach (var zdjecie in Model.ZdjeciaMebli)
        {
            <div class="catalogDetailsPos">                               
                <img src="~/@zdjecie.Link" title="@Model.Nazwa - @zdjecie.Numer" />
            </div>
        }
    </div>
    <div id="showPhotoBackround">
        <div id="showPhoto">

        </div>
    </div>
    <script src="~/Scripts/galeria2.js" type="text/javascript"></script>

