﻿@model JaniakMeble.DAL.Katalog

@{
    ViewBag.Title = string.Format("{0} ({1})", Model.Nazwa, Model.katalog_kategorie.Nazwa);
}

  
<div id="catalogDetailsMain">
    <p>
        @if(@Model.Opis != null)
        {
            <p>@Model.Opis</p>
        }
            
    </p>
    @foreach (var zdjecie in Model.katalog_zdjecia)
    {
        <div class="catalogDetailsPos">           
            
            <p>nr: @zdjecie.Numer_tkaniny</p>
            <img src="~/@zdjecie.Link" title="@zdjecie.Numer_tkaniny" />
        </div>
    }
</div>
<div id="showPhotoBackround">
    <div id="showPhoto">

    </div>
</div>
<script src="~/Scripts/galeria2.js" type="text/javascript"></script>