﻿@model IEnumerable<JaniakMeble.DAL.Katalog>

@{
    ViewBag.Title = "Katalog tkanin";
}

@foreach (var kategoria in Model.Select(x => x.katalog_kategorie.Nazwa).Distinct())
{
    <h1>
        @kategoria
    </h1>
    <div class="catalogMain">
    @foreach (var katalog in Model.Where(x => x.katalog_kategorie.Nazwa == kategoria))
    {

        <div class="catalogPos">
            <a href="@Url.Action("Details", "Catalog", new { id = katalog.Nazwa })">
                <h3>@katalog.Nazwa</h3>
                @{
                    string stars = "";
                    switch (katalog.Gwiazdki)
                    {
                        case 1: stars = "1stars.png"; break;
                        case 2: stars = "2stars.png"; break;
                        case 3: stars = "3stars.png"; break;
                    }
                    stars = "Resources/Images/others/" + stars;
                 }

                <img class="stars" src="~/@stars"/>
                <img src="~/@katalog.katalog_zdjecia.First().Link" />
            </a>
        </div>

    }
    </div>
    
}