﻿@model List<JaniakMeble.DAL.Dodatki>

@foreach (var item in Model)
{
    <h2 id="@item.Nazwa">
        @item.Nazwa
    </h2>

    <p>@item.Opis</p>
    <center>
        <img src="../@item.Zdjecie" width="50%" alt="@item.Nazwa" />
    </center>
    <hr />
}
