﻿<div>
    @*@(new HtmlString(ViewBag.Content))*@
    <div id="approve-banner">
        @Html.Partial("_LeftBanner")
    </div>

    <div id="new-banner">
        @Html.Partial("_RightBanner")
    </div>
</div>

