﻿<table>
    <tr>
        <td>
            <a><p><p>Strona główna</p></a>
            <a><p>Oferta</p></a>
            <a><p>Meble kuchenne</p></a>
            <a><p>Sklrp-meble.eu</p></a>
        </td>
        <td>
            <a><p>Katalog tkanin</p></a>
            <a><p>Dodatki i standardy</p></a>
            <a><p>Instrukcja montażu</p></a>
        </td>
        <td>
            <a><p>Transport</p></a>
            <a><p>Gwarancja</p></a>
            <a><p>Zakupy na raty</p></a>
            <a><p>Kontakt</p></a>
        </td>
        <td>
            <p>Znajdź nas</p>
            <a href="https://plus.google.com/104549884622367625591" title="Nasz profil w Google+"><img src="~/Resources/images/icons/gplusmini.png" width="40" class="ImageButton" /></a>
            <a href="https://www.facebook.com/JaniakMeble" title="Nasza społeczność na Facebook'u"><img src="~/Resources/images/icons/fbmini.png" width="40" class="ImageButton" /></a>
            <a href="http://allegro.pl/listing/user/listing.php?us_id=16160631&order=m" title="Nasze aukcje w serwisie Allegro"><img src="~/Resources/images/icons/allegromini.png" width="40" class="ImageButton" /></a>
        </td>
        <td>
            <p>Wykonanie strony</p>
            <a href="http://dosomething.pl" title="Wykonanie strony doSomething.pl"><img src="~/Resources/images/bigicons/dosomething.png" height="70" class="ImageButton"/></a>
        </td>
    </tr>
</table>