﻿<!DOCTYPE html>
<html>
<head>
    <title>Janiak-Meble @ViewBag.Title - producent mebli w okolicy Wrocławia</title>
    <link rel="Shortcut icon" href="~/Resources/Images/Icons/mainIcon.ico">
    <link href='http://fonts.googleapis.com/css?family=Andika&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Almendra&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2" />
    <link href='http://fonts.googleapis.com/css?family=Archivo+Narrow&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
 
    <link href='~/styles/main.css' rel='stylesheet' type='text/css'>
    <link href='~/styles/menu.css' rel='stylesheet' type='text/css'>
    <link href='~/styles/header.css' rel='stylesheet' type='text/css'>
    <link href='~/styles/content.css' rel='stylesheet' type='text/css'>
    <link href='~/styles/foother.css' rel='stylesheet' type='text/css'>
    <link href='~/styles/product.css' rel='stylesheet' type='text/css'>
    <link href='~/styles/category.css' rel='stylesheet' type='text/css'>
    <link href='~/styles/photoShower.css' rel='stylesheet' type='text/css'>
    <link href='~/styles/katalog.css' rel='stylesheet' type='text/css'>
    <link href='~/styles/banners.css' rel='stylesheet' type='text/css'>

</head>
<body> <center>
    <div id="fb-root"></div>
    @*<script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.9";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>*@
    
    <table id="mainBlockTable">
        <tr>
            <td id="leftTinyBarTd"></td>
            <td id="leftBarTd">
                @*<div id="menu">
                    @Html.Partial("_Menu")
                </div>*@
            </td>

            <td id="contentTd">
                <!--CONTENT-->
                <div id="header">
                    <div id="baner">

                        <p id="numer">tel. 695 532 980</p>
                        <p id="email">biuro@janiakmeble.pl</p>
                        <p id="head">@ViewBag.Title</p>
                    </div>
                    <div id="logo">
                        <a href="@Url.Action("Index", "Home")"><img src="~/Resources/images/others/logo_big2.png"></a>
                    </div>
                </div>
                <!--<img src="header.png" class="content"/>-->
               
                <div id="menu">
                    @Html.Partial("_Menu")
                </div>
                

                <div id="content">
                    @*<p>@ViewBag.Route</p>*@

                    <div>
                        @RenderBody()
                    </div>
                    @*<div class="fb-comments" data-href="https://www.facebook.com/JaniakMeble" data-width="100%" data-numposts="2"></div>*@
                </div>
                <div id="footer">
                    @Html.Partial("_Footer")
                </div>
                <!--ENDCONTERT-->
            </td>
        </tr>
    </table>
    @RenderSection("scripts", required: false)
          
</center>
    @*<script>

        document.getElementsByTagName('body')[0].innerHTML = document.getElementsByTagName('body')[0].innerHTML.replace("Allegro", "<p style=\"color:red;\">Allegro</p>");
    </script>*@

    </body>

</html>