﻿<div class="banner left-banner">
    <img src="http://www.janiakmeble.pl/galeria/narozniki/rubin/nar_rubin2/img/photos/PA181234.JPG"/>
    <h1>Polecamy</h1>
    <h2>Narożnik Rubin II</h2>
    <a href="#">Sprawdź</a>
</div>
