﻿<ul>
    <li><a href=@Url.Action("Index", "Offer")>Meble</a></li>
    <li><a href=#>Nasze realizacje</a></li>
    <li><a href=#>Akcesoria meblowe</a></li>
    <li><a href=@Url.Action("Index", "Catalog")>Katalogi tkanin</a></li>
    <li><a href=#>Kontakt</a></li>
</ul>