﻿<div class="banner right-banner">
    <img src="http://janiakmeble.pl/galeria/narozniki/rubin/nar_rubin4/img/photos/P9221412.JPG"/>
    <h1>Nowość</h1>
    <h2>Narożnik Rubin III</h2>
    <a href="#">Sprawdź</a>
</div>
